{% extends 'base.html.twig' %}

{% block title %}Se KonneKter{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <main>
        <div class="site-content">
            <form class="form-group"  method="post">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div>
                        vous êtes déjà KonneKter en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déKoneKter</a>
                    </div>
                {% endif %}

                <h1 class="text-center">Veuillez vous KonneKter</h1>
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" required autofocus>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" required>
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <button class="btn" type="submit">
                    Se KonneKter
                </button>
            </form>
            {% include 'main/sidebar.html.twig' %}
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}