
{% block body %}

    <section>
        <div class="blog">
            <div class="container">
                <h2 class="carousel-title">Nos événements</h2>

                <div class="owl-carousel owl-theme blog-post">
                    {% for event in event %}
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="{{ vich_uploader_asset(event, 'imageFile') }}" alt="{{ event.image }}">
                            <div class="blog-title">
                                <h3>{{ event.name }}</h3>
                                <button class="btn btn-blog">{{ event.place}}</button>
                                <span>{{ event.BeginAt|date("d/m/Y H:i")  }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="owl-navigation">
                    <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                    <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


