{% extends "base.html.twig" %}
{% block body %}
    {% include 'nav.html.twig' %}
    <main>
        <section>
            <div class="site-content">
                <div class="posts grid">
                    <div class="grid-item" data-aos="flip-left" data-aos-delay="200"><img src="{{ asset('build/images/klakos/img1.jpeg') }}" alt="img1"></div>
                    <div class="grid-item" data-aos="flip-left" data-aos-delay="400"><img src="{{ asset('build/images/klakos/img2.jpeg') }}" alt="img2"></div>
                    <div class="grid-item" data-aos="flip-left" data-aos-delay="600"><img src="{{ asset('build/images/klakos/img3.jpeg') }}" alt="img3"></div>
                    <div class="grid-item" data-aos="flip-left" data-aos-delay="800"><img src="{{ asset('build/images/klakos/img4.jpeg') }}" alt="img4"></div>
                    <div class="grid-item" data-aos="flip-left" data-aos-delay="1000"><img src="{{ asset('build/images/klakos/img5.jpeg') }}" alt="img5"></div>
                    <div class="grid-item" data-aos="flip-right" data-aos-delay="200"><img src="{{ asset('build/images/klakos/img6.jpeg') }}" alt="img6"></div>
                    <div class="grid-item" data-aos="flip-right" data-aos-delay="400"><img src="{{ asset('build/images/klakos/img7.jpeg') }}" alt="img7"></div>
                    <div class="grid-item" data-aos="flip-right" data-aos-delay="600"><img src="{{ asset('build/images/klakos/img8.jpeg') }}" alt="img8"></div>
                    <div class="grid-item" data-aos="flip-right" data-aos-delay="800"><img src="{{ asset('build/images/klakos/img9.jpeg') }}" alt="img9"></div>
                    <div class="grid-item" data-aos="flip-right" data-aos-delay="1000"><img src="{{ asset('build/images/klakos/img10.jpeg') }}" alt="img10"></div>
                    <div class="grid-item" data-aos="flip-up" data-aos-delay="200"><img src="{{ asset('build/images/klakos/img11.jpeg') }}" alt="img11"></div>
                    <div class="grid-item" data-aos="flip-up" data-aos-delay="400"><img src="{{ asset('build/images/klakos/img12.jpeg') }}" alt="img12"></div>
                    <div class="grid-item" data-aos="flip-up" data-aos-delay="600"><img src="{{ asset('build/images/klakos/img13.jpeg') }}" alt="img13"></div>
                    <div class="grid-item" data-aos="flip-up" data-aos-delay="800"><img src="{{ asset('build/images/klakos/img14.jpeg') }}" alt="img14"></div>
                    <div class="grid-item" data-aos="flip-up" data-aos-delay="1000"><img src="{{ asset('build/images/klakos/img15.jpeg') }}" alt="img15"></div>
                    <div class="grid-item" data-aos="flip-down" data-aos-delay="200"><img src="{{ asset('build/images/klakos/img16.jpeg') }}" alt="img16"></div>
                    <div class="grid-item" data-aos="flip-down" data-aos-delay="400"><img src="{{ asset('build/images/klakos/img17.jpeg') }}" alt="img17"></div>
                    <div class="grid-item" data-aos="flip-down" data-aos-delay="600"><img src="{{ asset('build/images/klakos/img18.jpeg') }}" alt="img18"></div>
                    <div class="grid-item" data-aos="flip-down" data-aos-delay="800"><img src="{{ asset('build/images/klakos/img19.jpeg') }}" alt="img19"></div>
                    <div class="grid-item" data-aos="flip-down" data-aos-delay="1000"><img src="{{ asset('build/images/klakos/img20.jpeg') }}" alt="img20"></div>
                    <div class="grid-item" data-aos="fade-up" data-aos-delay="200"><img src="{{ asset('build/images/klakos/img21.jpeg') }}" alt="img21"></div>
                    <div class="grid-item" data-aos="fade-up" data-aos-delay="400"><img src="{{ asset('build/images/klakos/img22.jpeg') }}" alt="img22"></div>
                    <div class="grid-item" data-aos="fade-up" data-aos-delay="600"><img src="{{ asset('build/images/klakos/img23.jpeg') }}" alt="img23"></div>
                    <div class="grid-item" data-aos="fade-up" data-aos-delay="800"><img src="{{ asset('build/images/klakos/img24.jpeg') }}" alt="img24"></div>
                    <div class="grid-item" data-aos="fade-up" data-aos-delay="1000"><img src="{{ asset('build/images/klakos/img25.jpeg') }}" alt="img25"></div>
                    <div class="grid-item" data-aos="fade-down" data-aos-delay="200"><img src="{{ asset('build/images/klakos/img26.jpeg') }}" alt="img26"></div>
                    <div class="grid-item" data-aos="fade-down" data-aos-delay="400"><img src="{{ asset('build/images/klakos/img27.jpeg') }}" alt="img27"></div>
                    <div class="grid-item" data-aos="fade-down" data-aos-delay="600"><img src="{{ asset('build/images/klakos/img28.jpeg') }}" alt="img28"></div>
                    <div class="grid-item" data-aos="fade-down" data-aos-delay="800"><img src="{{ asset('build/images/klakos/img29.jpeg') }}" alt="img29"></div>
                    <div class="grid-item" data-aos="fade-down" data-aos-delay="1000"><img src="{{ asset('build/images/klakos/img30.jpeg') }}" alt="img30"></div>
                    <div class="grid-item" data-aos="fade-right" data-aos-delay="200"><img src="{{ asset('build/images/klakos/img31.jpeg') }}" alt="img31"></div>
                    <div class="grid-item" data-aos="fade-right" data-aos-delay="400"><img src="{{ asset('build/images/klakos/img32.jpeg') }}" alt="img32"></div>
                    <div class="grid-item" data-aos="fade-right" data-aos-delay="600"><img src="{{ asset('build/images/klakos/img33.jpeg') }}" alt="img33"></div>
                    <div class="grid-item" data-aos="fade-right" data-aos-delay="800"><img src="{{ asset('build/images/klakos/img34.jpeg') }}" alt="img34"></div>
                    <div class="grid-item" data-aos="fade-right" data-aos-delay="1000"><img src="{{ asset('build/images/klakos/img35.jpeg') }}" alt="img35"></div>
                    <div class="grid-item" data-aos="fade-left" data-aos-delay="200"><img src="{{ asset('build/images/klakos/img36.jpeg') }}" alt="img36"></div>
                    <div class="grid-item" data-aos="fade-left" data-aos-delay="400"><img src="{{ asset('build/images/klakos/img37.jpeg') }}" alt="img37"></div>
                    <div class="grid-item" data-aos="fade-left" data-aos-delay="600"><img src="{{ asset('build/images/klakos/img38.jpeg') }}" alt="img38"></div>
                    <div class="grid-item" data-aos="fade-left" data-aos-delay="800"><img src="{{ asset('build/images/klakos/img39.jpeg') }}" alt="img39"></div>
                    <div class="grid-item" data-aos="fade-left" data-aos-delay="1000"><img src="{{ asset('build/images/klakos/img40.jpeg') }}" alt="img40"></div>
                    <div class="grid-item" data-aos="fade-up-right" data-aos-delay="200"><img src="{{ asset('build/images/klakos/img41.jpeg') }}" alt="img41"></div>
                    <div class="grid-item" data-aos="fade-up-right" data-aos-delay="400"><img src="{{ asset('build/images/klakos/img42.jpeg') }}" alt="img42"></div>
                    <div class="grid-item" data-aos="fade-up-right" data-aos-delay="600"><img src="{{ asset('build/images/klakos/img43.jpeg') }}" alt="img43"></div>
                </div>
                {% include 'main/sidebar.html.twig' %}
            </div>
        </section>
    </main>

    {% include 'footer.html.twig' %}
{% endblock %}
