{% extends 'base.html.twig' %}

{% block title %}KontaKter Klakigone{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <main>
        <div class="site-content">
            <form class="form-group" method="post">
                <h1 class="text-center"> Nous KontaKter</h1>

                <div class="flex-form">
                {{ form_start(form) }}
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}

                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}

                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}

                    {{ form_label(form.subject) }}
                    {{ form_widget(form.subject) }}

                    {{ form_label(form.message) }}
                    {{ form_widget(form.message) }}

                    <button class="btn" type="submit">
                        Envoyer un Message
                    </button>
                {{ form_end(form) }}
                </div>
            </form>
            {% include 'main/sidebar.html.twig' %}
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}
