

{% block body %}
{#- ------------- Navigation -------------------------------------------  -#}
<nav class="nav">
    <div class="nav-menu flex-row">
        <div class="nav-brand">
            <a href="{{ path('app_main') }}" class="text-gray">Site Ki Klak</a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            <ul class="nav-items">
                <li class="nav-link">
                    <a href="{{ path('app_main') }}">Akkueil</a>
                </li>
                <li class="nav-link">
                    <a href="{{ path('app_about') }}">Le KlaK</a>
                </li>
                <li class="nav-link">
                    <a href="{{ path('app_team') }}">Les KlaKos</a>
                </li>
                <li class="nav-link">
                    <a href="{{ path('app_login') }}">Se Konnekter</a>
                </li>
                <li class="nav-link">
                    <a href="{{ path('app_register') }}">S'inskrire</a>
                </li>
                <li class="nav-link">
                    <a href="{{ path('app_contact') }}">Nous KontaKter</a>
                </li>
            </ul>
        </div>
        <div class="social text-gray">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</nav>

{#- ------X------- Navigation -------------#}
{% endblock %}
