{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block body %}
    {% include 'nav.html.twig' %}
    <main>
        <div class="site-content">
            <div class="posts">
                <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                    <div class="post-title text-center">
                        <h1>Bienvenue {{ app.user.firstname }} {{ app.user.name }}</h1>
                    </div>

                    <br>
                    <div class="post-title text-center">
                        <h2>Modifier mes informations</h2>
                        <br>
                        <hr>
                        <br>
                        <h4>Vos informations : </h4>
                        <p>Nom : {{ app.user.name }}</p>
                        <p>Prénom : {{ app.user.firstname }}</p>
                        <p>Email : {{ app.user.email }}</p>
                        <button class="btn"><a href="{{ path('profile_edit') }}">Modifier mon profil</a></button>
                        <button class="btn"><a href="#">Modifier mon mot de passe</a></button>
                    </div>
                    <br>
                    <div class="post-title text-center">
                        <h2>D'humeur inspirée</h2>
                        <br>
                        <hr>
                        <br>
                        <h4>Vous avez ékrit {{ app.user.posts|length}} artiKles : </h4>
                        {% for post in app.user.posts %}
                            <p>{{ post.title }}</p>
                        {% endfor %}
                        <button class="btn"><a href="{{ path('post_add') }}">Ajouter un article</a></button>
                        <button class="btn"><a href="">Modifier un article</a></button>
                    </div>
                </div>
            </div>
            {% include 'main/sidebar.html.twig' %}
        </div>
    </main>
    {% include 'footer.html.twig' %}
{% endblock %}
